services:
  # 1. The Database (MongoDB)
  database:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db # This saves your data so it doesn't delete when Docker stops

  # 2. Your Node.js Backend
  backend:
    build: ./backend
    ports:
      - "5001:5000"
    depends_on:
      - database
    env_file:             # <-- ADD THIS
      - ./backend/.env    # <-- ADD THIS
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://database:27017/chuglimanch # Connects directly to the container above

  # 3. Your React Frontend
  frontend:
    build: ./frontend
    ports:
      - "5173:5173" # If you use Vite, change these to "5173:5173"
    depends_on:
      - backend # Wait for the backend to start before starting the frontend

# This sets up the permanent storage for your database
volumes:
  mongo-data: